{% if SOCIAL_META_ENABLED %}
    {% if SOCIAL_META['google'] %}
    <!-- Google Authorship and Publisher Markup -->
    <link rel="author" href="{{'https://plus.google.com/+' + SOCIAL_META['google']}}" />
    {% endif %}

    <!-- Twitter Cards and Facebook Open Graph -->
    {% if article.metadata.image %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="og:image" content="{{SITEURL}}/images/{{article.metadata.image}}">
    {% else %}
    <meta name="twitter:card" content="summary">
    {% endif %}
    {% if SOCIAL_META['twitter'] and SOCIAL_META['twitter']['creator'] %}
    <meta name="twitter:creator" content="{{ SOCIAL_META['twitter']['creator'] }}" >
    {% endif%}
    {% if SOCIAL_META['twitter'] and SOCIAL_META['twitter']['site'] %}
    <meta name="twitter:site" content="{{ SOCIAL_META['twitter']['site'] }}" >
    {% endif%}

    {# Used for both twitter and open graph title #}
    <meta property="og:title" content="{{article.title}}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{SITEURL + '/' + article.url}}" />
    {% if article.summary %}
    {# Used for both twitter and open graph description #}
    <meta property="og:description" content="{{article.summary | striptags}}" />
    {% endif %}
    <meta property="og:site_name" content="{{SITENAME}}" />
    <meta property="article:published_time" content="{{article.date}}" />
    {% if article.modified %}
    <meta property="article:modified_time" content="{{article.modified}}" />
    {% endif %}
    {% if SOCIAL_META['facebook'] and SOCIAL_META['facebook']['author'] %}
    <meta property="article:author" content="https://www.facebook.com/fareedzakaria" />
    {% endif %}
    {% if SOCIAL_META['facebook'] and SOCIAL_META['facebook']['publisher'] %}
    <meta property="article:publisher" content="https://www.facebook.com/cnn" />
    {% endif %}
{% endif %}
