{% extends "base.html" %}
{% from 'includes/macros.html' import background_image %}

{% set articleurl = SITEURL + '/' + article.url %}

{% block robots %} article, test{% endblock %}
{% block page_id %}post{% endblock %}

{% block page_css %}
    {% if article.metadata.image %}
    feature
    {% endif %}
{% endblock %}

{% block background %}
    {{ background_image(article.metadata.image_background)}}
{% endblock %}

{% block header %}
{% if article.metadata.image %}
<div class="entry-header">
    {% if article.metadata.image_credit %}
    <div class="image-credit">
        Image source: {% if article.metadata.image_creditlink %}<a href="{{ article.metadata.image_creditlink }}">{% endif %}{{ article.metadata.image_credit }}{% if article.metadata.image_creditlink %}</a>{% endif %}
    </div><!-- /.image-credit -->
    {% endif %}
    <div class="entry-image">
        <img src="{{ SITEURL }}/images/{{ article.metadata.image }}" alt="{{ article.title }}">
    </div><!-- /.entry-image -->
</div><!-- /.entry-header -->
{% endif %}
{% endblock %}

{% block content %}
<article class="entry">
    <header class="header-title">
        <div class="header-title-wrap">
            <h1 class="entry-title"><a href="{{ articleurl }}" rel="bookmark" title="{{ article.title }}">{{ article.title }}</a></h1>
            <h2><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></h2>
        </div><!-- /.header-title-wrap -->
    </header>
    <div class="entry-content">
        {{ article.content }}
        <footer class="entry-meta">
            {% if article.tags %}
            <span class="entry-tags">
                {% for tag in article.tags %}<a href="{{ tag.url }}" title="Pages tagged {{ tag }}" class="tag">{{ tag }}</a>{% endfor %}
            </span>
            {% endif %}

            <p>
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title }}">{{ article.title }}</a> was published on <span class="entry-date date published updated"><time datetime="{{ article.date.isoformat()  }}">{{ article.locale_date }}</time></span>
                {% if article.modified %}(revised: <span class="entry-date date modified"><time datetime="{{ article.modified.isoformat() }}">{{ article.modified | strftime('%d %B %Y') }}</time></span>){% endif %}<br>
                <span class="author vcard"><span class="fn"><a href="{{ SITEURL }}/about/" title="About {{ AUTHOR }}">{{ AUTHOR }}</a></span></span>
            </p>

            {% if article.metadata.share %}
            <div class="social-share">
                <ul class="socialcount socialcount-small inline-list">
                    <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{ articleurl }}" title="Share on Facebook"><span class="count"><i class="fa fa-facebook-square"></i> Like</span></a></li>
                    <li class="twitter"><a href="https://twitter.com/intent/tweet?text={{ articleurl }}" title="Share on Twitter"><span class="count"><i class="fa fa-twitter-square"></i> Tweet</span></a></li>
                    <li class="googleplus"><a href="https://plus.google.com/share?url={{ articleurl }}" title="Share on Google Plus"><span class="count"><i class="fa fa-google-plus-square"></i> +1</span></a></li>
                </ul>
            </div><!-- /.social-share -->
            {% endif %}

        </footer>
    </div><!-- /.entry-content -->

    {# TODO -- comments {% if site.disqus_shortname and page.comments %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %} #}

    {% if article.related_posts %}
    <div id="read-more" class="read-more">
        {% set post = article.related_posts | first %}
        <div class="read-more-header">
            <a href="{% if article.prev_article %}{{ SITEURL }}/{{ article.prev_article.url}}{% else %}#read-more{% endif %}" class="read-more-btn">Read More</a>
        </div><!-- /.read-more-header -->

        <div class="read-more-content">
            <h3><a href="{{ SITEURL }}/{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
            <p>{{ post.summary | truncate(140) }}<br>
                <a href="{{ SITEURL }}/{{ post.url }}">Continue reading</a>
            </p>
        </div><!-- /.read-more-content -->

        <div class="read-more-list">
        {% for post in article.related_posts %}
            {% if loop.index > 1 and loop.index <= 3 %}
            <div class="list-item">
                <h4><a href="{{ SITEURL }}/{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h4>
                <span>Published on {{ post.date | strftime('%d %B %Y') }}</span>
            </div><!-- /.list-item -->
            {% endif %}
        {% endfor %}
        </div><!-- /.read-more-list -->
    </div><!-- /.read-more -->
    {% endif %}
</article>
{% endblock%}


