{% extends "base.html" %}
{% set pageurl = SITEURL + '/' + page.url %}

{% block page_id %}page{% endblock %}

{% block page_css %}
    {% if page.metadata.image %}
    feature
    {% endif %}
{% endblock %}

{% block header %}
{% if page.metadata.image %}
<div class="entry-header">
    {% if page.metadata.image_credit %}
    <div class="image-credit">
        Image source: {% if page.metadata.image_creditlink %}<a href="{{ page.metadata.image_creditlink }}">{% endif %}{{ page.metadata.image_credit }}{% if page.metadata.image_creditlink %}</a>{% endif %}
    </div><!-- /.image-credit -->
    {% endif %}
    <div class="entry-image">
        <img src="{{ SITEURL }}/images/{{ page.metadata.image }}" alt="{{ page.title }}">
    </div><!-- /.entry-image -->
</div><!-- /.entry-header -->
{% endif %}
{% endblock %}

{% block content %}
<article class="entry">
    <header class="header-title">
        <div class="header-title-wrap">
            <h1 class="entry-title"><a href="{{ pageurl }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
        </div><!-- /.header-title-wrap -->
    </header>
    <div class="entry-content">
        {{ page.content }}
        <footer class="entry-meta">
            {% if page.metadata.share %}
            <div class="social-share">
                <ul class="socialcount socialcount-small inline-list">
                    <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{ pageurl }}" title="Share on Facebook"><span class="count"><i class="fa fa-facebook-square"></i> Like</span></a></li>
                    <li class="twitter"><a href="https://twitter.com/intent/tweet?text={{ pageurl }}" title="Share on Twitter"><span class="count"><i class="fa fa-twitter-square"></i> Tweet</span></a></li>
                    <li class="googleplus"><a href="https://plus.google.com/share?url={{ pageurl }}" title="Share on Google Plus"><span class="count"><i class="fa fa-google-plus-square"></i> +1</span></a></li>
                </ul>
            </div><!-- /.social-share -->
            {% endif %}
        </footer>
    </div><!-- /.entry-content -->
</article>
{% endblock%}


